[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pysatl = "1.2.6"
pyserial = "3.5"


[dev-packages]
macholib = "*"
ruff = "*"
black = "*"
build = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
